$form-text-color: black;
$base-background-color: #4B6566;
$base-background-gradient1-color: #3f5354;
$base-background-gradient2-color: #313e3f;
$form-background-color: white;
$form-input-color: #f4f3f6;
$form-error-color: #E63D3D;
$header-background-color: #4B6566;
$wine-item-card-header-background-color: #235859;
$wine-item-card-header-text-color: #F29A52;
$image-checkbox-checked-background-color: #efd08c;
