.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.file-input {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 10px 0;
}
.file-input input[type="file"] {
  display: none;
}
.file-input label {
  padding: 4px 10px;
  margin: 10px;
  border: 1px solid grey;
  cursor: pointer;
  font-size: 10px;
}

.image-preview-container {
  max-height: 500px;
  max-width: 500px;
}
@media (max-width: 599px) {
  .image-preview-container {
    max-height: 100%;
    max-width: 100%;
  }
}

.image-preview {
  width: 100%;
}

.image-preview img {
  display: block;
  max-width: 100%;
}

.upload-error {
  color: var(--form-error-color);
}
