@import '../../../styles/mixins.scss';

.wine-item-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.wine-list__hits-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.wine-list__hits-paragraph {
  color: white;
  font-size: 22px;
  margin-bottom: 0;
}