.checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip-path: inset(50%);
  white-space: nowrap;
}

.image {
  width: 50px;
  cursor: pointer;
  border-radius: 10%;
}

.checkbox:checked + .image {
  background-color: var(--image-checkbox-checked-background-color);
}

.checkbox:focus-visible + .image {
  outline: 2px solid var(--button-text-color);
  outline-offset: 2px;
}

@media (min-width: 600px) {
  .image {
    width: 60px;
  }
}
