@import '../../../styles/variables.scss';

/* HIDE CHECKBOX */ 
[type=checkbox] { 
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}


/* IMAGE STYLES */
[type=checkbox] + img {
  cursor: pointer;
}

// TODO: SET NICE COLOR. 
/* CHECKED STYLES */
[type=checkbox]:checked + img {
  background-color: $base-background-color;
  border-radius: 10%;
}

.image  {
  width: 50px;
}

