 @import '../../../styles/variables.scss';

 .wine-search-form__container {
   display: flex;
   flex-direction: column;
   align-items: center;
 }

 .wine-search-form {
   margin: 12px;
   box-shadow: 1px 0 2px black;
   background-color: $form-background-color;
   border-radius: 14px;
   width: 90vw;
   &__buttons {
     display: flex;
     margin: 10px 0;
   }

   &__button {
     width: 100%;
     margin: 0 10px 0 0;
   }

   &__title {
     margin-top: 20px;
     color: white;
   }

   &__slider {
     padding: 0 30px !important;
     &-rating {
       padding: 0 10px !important;
     }
   }

 }

 label {
   margin: 10px 0 !important;
 }

 .react-slider {
   color: cornflowerblue !important;
 }

 .fits-to-row {
   margin-left: 0 !important;
 }