 @import '../../../styles/variables.scss';

.searchWineForm {
  background-color: $form-background-color;
}

 .wine-search-buttons {
   display: flex;
 }

 .wine-search-button {
   margin: 0 10px 0 0;
 }