@import '../../../../styles/mixins.scss';

.wine-item {
  margin: 1em 0;
}

.wine-row {
  margin-top: 1em;
  display: flex;
  justify-content: space-evenly;
}

.wine-info-text {
  font-style: italic;
}

.wine-image {
  height: 22em;
  margin: auto 15px;
}

.centered-label {
  font-style: italic;
  margin: 0 auto;
}

.card-label {
  font-size: 18px;
  font-weight: bold;
  margin: 4px 0;
}

.wine-info-text {
  font-size: 1.3em;
  @include for-phone-only {    
    font-size: 1em; 
 }
}

.card-body.row:not(:first-child) {
  margin-top: -4em;
  @include for-phone-only {    
    margin-top: 0; 
 }
}

.fits-to-image {
  height: 3em;
  width: 3em;
}