@import '../../../../styles/mixins.scss';
@import '../../../../styles/variables';

.wine-item {
  margin: 1em 0;
  @include for-tablet-portrait-up {
    max-width: 320px;
  }
  @include for-phone-only {
    width: 90vw;
  }
}

.wine-item-card {
  min-height: 730px;

  &__card-header {
    display: flex;
    align-items: flex-end;
    text-shadow: 2px 2px black;
    font-size: 24px;
    margin-bottom: 8px;
    margin-left: 5px;
    margin-right: 5px;
    color: white;
    @include for-tablet-portrait-up {
      min-height: 120px;
    }
  }

  &__card-body {
    border-radius: 14px;
    padding-top: 30px;
    background-color: white;
    padding-bottom: 20px;
  }

  &__header-paragraph {
    margin-bottom: 0px;
  }

  &__rating-col {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__rating-number {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    background-color: $form-input-color;
    box-shadow: 0px 0px 1px 1px darkslategray;
    border-radius: 24px;
    width: 100px;
    font-size: 20px;
  }

  &__rating-label {
    margin-bottom: 0px;
  }
}

.info-text-item {
  min-height: 40px;
}

.wine-row {
  margin-top: 1em;
  display: flex;
  justify-content: space-evenly;

  &__no-margin-top {
    margin-top: 0;
  }

  &__fits-to {
    // TODO CONSIDER MODULO 3 FOR ITEMS ON > MD
    flex-wrap: wrap;
  }
}


.wine-image {
  height: 24em;
  margin: auto 25px;
}

.centered-label {
  font-style: italic;
  margin: 0 auto;
  @include for-phone-only {
    font-size: 20px;
  }
}

.card-header {
  background-color: $wine-item-card-header-background-color !important;
  color: $wine-item-card-header-text-color;
  display: flex;
  align-items: flex-end;
  font-size: 18px;
  min-height: 95px;
  @include for-phone-only {
    font-size: 22px;
  }
}

.card-label {
  font-size: 18px;
  font-weight: bold;
  margin: 4px 0;
  @include for-phone-only {
    font-size: 22px;
    margin: 2px 0;
  }
}

.wine-info-text {
  font-style: italic;
  margin-top: 8px;
  font-size: 1em;
  max-width: 90px;
  @include for-phone-only {
    font-size: 18px !important;
    margin-bottom: 10px;
    margin-top: 0;
  }

  &__rating_number {
    margin-bottom: 0;
  }
}


.fits-to-image {
  height: 3em;
  width: 3em;
}