@import "./styles/variables.scss";
@import './styles/mixins.scss';

.App {
  min-height: 100vh;
}
.container {
  display: flex;
  flex-direction: column;
  margin: 40px auto;
}


.App-logo {
  height: 130px;
  @include for-phone-only {
    height: 130px;
    width: 80vw;
  }
}

.App-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 170px;
}

.app-navbar {
  margin-top: 20px;
  width: 100vw;
  display: flex;
  justify-content: center;
  font-size: 24px;

  @include for-phone-only {
    // TODO HAMBURGER TO TOGGLE?
    font-size: 20px;
    flex-direction: column;
    align-items: center;
  }

  a {
    margin: 0 25px;
  }
  > a:not(.activeLink):hover {
    text-decoration: none;
  }
}

.app-header-text {
  color: black;
  font-size: 60px;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
#root {
  background-image: linear-gradient($base-background-color, $base-background-gradient1-color, $base-background-gradient2-color);;
}
