@import "./styles/variables.scss";

.App {
 
}

.App-logo {
  animation: App-logo-spin infinite 5s linear;
  height: 60px;
}

.App-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #222;
  height: 100px;
  padding: 20px;
  color: white;
}

.app-header-text {

}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
// TODO: SEPARATE COLOR-VARIABLES.
#root {
  background-color: $base-background-color;
}
