@import "styles/variables.scss";
@import "styles/mixins.scss";

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

form {
    color: #db8963;
    font-size: 1.2em;
    padding: 0.5em;
    margin: 1em 0;
}