.add-wine-button {
  margin-bottom: 1em;
}

.fits-to-row {
  justify-content: space-around;
}

.form-control {
  background-color: #e8eeef!important;
}

.custom-select {
  background-color: #e8eeef!important;
}

.wine-picture {
  width: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}


// TODO: ADD MIXIN TO MD SO THAT WINE-PICTURE ISNT CENTERED ON BIG SCREENS.