.add-wine-button {
  margin-bottom: 1em;
}

.fits-to-row {
  margin-left: 10px !important;
  justify-content: space-around;
}

.form-control {
  background-color: #e8eeef!important;
}

.custom-select {
  background-color: #e8eeef!important;
}

.wine-picture {
  width: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.textfield-label {
  margin-bottom: 0;
}

