.add-wine-button {
  margin-bottom: 1em;
}

.fits-to-row {
  justify-content: space-around;
}

.form-control {
  background-color: #e8eeef!important;
}

.custom-select {
  background-color: #e8eeef!important;
}

.wine-picture {
  width: 70px;
}

// TODO: FIX ALIGNMENT OF FITS-TO-ROW.